body{
    padding:50px;
    font:14px 'Lucida Fax',Helvetica,Arial,sans-serif;
}
a{
    color:#00B7FF;
}
#content{   /* 程序界面的宽度是800px,水平居中*/
    width:800px;
    margin-left:auto;
    margin-right:auto;
}
#room{  /* 显示当前聊天室名称那个区域的CSS规则 */
    background-color:#ddd;
    margin-bottom:1em;
}
#messages{  /*显示消息的区域宽690px,高300px*/
    width:690px;
    height:300px;
    overflow:auto;  /* 让显示消息的区域在内容填满后可以向下滚动*/
    background-color:#eee;
    margin-bottom:1em;
    margin-right:10px;
}

#room-list{
    float:right;
    width:100px;
    height:300px;
    overflow:auto;
}

#room-list div{
    border-bottom:1px solid #eee;
}

#room-list div:hover{
    background-color:#ddd;
}
#send-message{
    width:700px;
    margin-bottom:1em;
    margin-right:1em;
}

#help{
    font:10px 'Lucida Bright', Helvetica,Arial,sans-serif;
}
